$cl_green: #00ff95;
$cl_lightblue: #00ffff;
$cl_blue: #2d90ae;
$cl_brown: #494949;
$cl_white: #ffffff;
$cl_black: #1a2422;

$font_sans: VentiCF, sans-serif;
$font_serif: "Georgia", "Times New Roman", "Times CY", "Century Schoolbook L",
	serif;
